<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="DUYPHAN\DUYDEV_WPF_QuanLyCafe_Connection" connectionString="XpoProvider=MSSqlServer;data source=DUYPHAN\DUYDEV;integrated security=SSPI;initial catalog=WPF_QuanLyCafe" />
        <add name="DUYPHAN\DUYDEV_WPF_QuanLyCafe_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=DUYPHAN\DUYDEV;integrated security=SSPI;initial catalog=WPF_QuanLyCafe" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
